<!DOCTYPE html>
<html lang="en">
    <head>
        <!--====== Required meta tags ======-->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--====== Title ======-->
        <title>Saap - Sass Landing HTML Template</title>
        <!--====== Favicon Icon ======-->
        <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/png">
        <!--====== FontAwesome css ======-->
        <link rel="stylesheet" href="assets/fonts/fontawesome/css/all.min.css">
        <!--====== FontAwesome css ======-->
        <link rel="stylesheet" href="assets/fonts/flaticon/flaticon.css">
        <!--====== Bootstrap css ======-->
        <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
        <!--====== magnific-popup css ======-->
        <link rel="stylesheet" href="assets/vendor/magnific-popup/dist/magnific-popup.css">
        <!--====== Slick-popup css ======-->
        <link rel="stylesheet" href="assets/vendor/slick/slick.css">
        <!--====== Sal Animate css ======-->
        <link rel="stylesheet" href="assets/vendor/aos/aos.css">
        <!--====== Default css ======-->
        <link rel="stylesheet" href="assets/css/default.css">
        <!--====== Style css ======-->
        <link rel="stylesheet" href="assets/css/style.css">
        <!--====== Responsive css ======-->
        <link rel="stylesheet" href="assets/css/responsive.css">
    </head>
    <body>
        <!--====== Start Preloader ======-->
        <div class="preloader">
            <div class="loader">
                <div class="pre-shadow"></div>
                <div class="pre-box"></div>
            </div>
        </div>
        <!--====== End Preloader ======-->
        <!--====== Search From ======-->
		<div class="modal fade" id="search-modal">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form>
                        <div class="form_group">
                        	<input type="text" class="form_control" placeholder="Search here...">
                        	<button class="search_btn"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div><!--====== Search From ======-->
        <!--====== Start Header Section ======-->
        <header class="theme-header transparent-header">
            <div class="header-navigation navigation-white">
                <div class="nav-overlay"></div>
                <div class="container">
                    <div class="primary-menu">
                        <div class="site-branding">
                            <a href="index.html" class="brand-logo"><img src="assets/images/logo/logo-4.png" alt="Site Logo"></a>
                        </div>
                        <div class="nav-menu nav-ml-auto">
                            <!-- Navbar logo -->
                            <div class="sidebar-logo">
                                <a href="index.html" class="brand-logo"><img src="assets/images/logo/logo-3.png" alt="Site Logo"></a>
                            </div>
                            <!-- Navbar Close -->
                            <div class="navbar-close"><i class="far fa-times"></i></div>
                            <!-- Nav Menu -->
                            <nav class="main-menu">
                                <ul>
                                    <li class="menu-item has-children"><a href="#">Home</a>
                                        <ul class="sub-menu">
                                            <li><a href="index.html">Home One</a></li>
                                            <li><a href="index-2.html">Home Two</a></li>
                                            <li><a href="index-3.html">Home Three</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item has-children"><a href="#">Services</a>
                                        <ul class="sub-menu">
                                            <li><a href="services.html">Services</a></li>
                                            <li><a href="service-details.html">Service Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item has-children"><a href="#">Pages</a>
                                        <ul class="sub-menu">
                                            <li><a href="about.html">About Us</a></li>
                                            <li class="has-children"><a href="portfolio.html">Portfolio</a>
                                                <ul class="sub-menu">
                                                    <li><a href="portfolio.html">Portfolio</a></li>
                                                    <li><a href="portfolio-details.html">Portfolio Details</a></li>
                                                </ul>
                                            </li>
                                            
                                            <li><a href="team.html">Our Team</a></li>
                                            <li><a href="team-details.html">Team Details</a></li>
                                            <li><a href="pricing.html">Pricing</a></li>
                                            <li><a href="faq.html">Faq</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item has-children"><a href="#">Blog</a>
                                        <ul class="sub-menu">
                                            <li><a href="blog-standard.html">Blog Standard</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item"><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="header-right-nav">
                            <ul class="d-inline-flex align-items-center">
                                <li class="search-item"><a href="#" data-toggle="modal" data-target="#search-modal"><i class="fas fa-search"></i></a></li>
                                <li class="nav-button"><a href="contact.html" class="main-btn btn-gradient-yellow">Contact Us</a></li>
                                <li class="nav-toggle-btn">
                                    <div class="navbar-toggler">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--====== End Header Section ======-->
        <!--====== Start Breadcrumbs Section ======-->
        <section class="hero-area">
            <div class="breadcrumbs-wrapper blue-dark-gradient">
                <div class="shape shape-one scene"><span data-depth="2"></span></div>
                <div class="shape shape-two scene"><span data-depth="3"></span></div>
                <div class="shape shape-three scene"><span data-depth="4"></span></div>
                <div class="shape shape-four scene"><span data-depth=".1"></span></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="page-title-text text-center">
                                <h1 class="title">BLog Details</h1>
                                <ul class="breadcrumbs-link">
                                    <li><a href="index.html">Home</a></li>
                                    <li class="active">BLog Details</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--====== End Breadcrumbs Section ======-->
        <!--====== Start Blog Details Section ======-->
        <section class="blog-details-section pt-120 mb-70">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-7">
                        <div class="blog-details-wrapper mb-50">
                            <div class="blog-post-item" data-aos="fade-up" data-aos-delay="20">
                                <div class="img-holder">
                                    <img src="assets/images/blog/blog-single-1.jpg" alt="Single Blog Image">
                                </div>
                                <div class="post-content">
                                    <div class="post-meta">
                                        <ul>
                                            <li><span class="date"><i class="far fa-calendar-alt"></i><a href="#">20 dec, 2021</a></span></li>
                                            <li><span class="comment"><i class="far fa-comment-dots"></i><a href="#">3 Comments</a></span></li>
                                        </ul>
                                    </div>
                                    <h3 class="title">Innovation is nothing more than
                                        thinking</h3>
                                    <p>Integer tellus turpis, vulputate ac condimentum vel, fermentum a dui. Fusce efficitur aliquet mi, tincidunt condimentum orci maximus quis. Phasellus quis urna in quam sollicitudin ultricies. Suspendisse bibendum mi diam, sit amet condimentum sapien porttitor nec. Sed eget turpis vestibulum, posuere est a, euismod sapien. </p>
                                    <p>Integer tellus turpis, vulputate ac condimentum vel, fermentum a dui. Fusce efficitur aliquet mi, tincidunt condimentum orci maximus quis. Phasellus quis urna in quam sollicitudin ultricies. Suspendisse bibendum mi diam, sit amet condimentum sapien porttitor nec. Sed eget turpis vestibulum, posuere est a, euismod sapien. Ut vitae mi ultrices nisl ornare ultrices. Etiam feugiat semper placerat. Ut nec pulvinar ante. </p>
                                    <blockquote>
                                        <h5>Integer tellus turpis, vulputate ac condimentum vel, fermentum a dui. Fusce efficitur aliquet mi, tincidunt condimentum orci maximus quis. Phasellus quis urna in quam sollicitudin ultricies.</h5>
                                    </blockquote>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="block-img">
                                                <img src="assets/images/blog/blog-single-2.jpg" alt="Blog Image">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="block-img">
                                                <img src="assets/images/blog/blog-single-3.jpg" alt="Blog Image">
                                                <div class="play-content">
                                                    <a href="https://www.youtube.com/watch?v=vTm7t9JBGfM&t=39s" class="video-popup"><i class="fas fa-play"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h3>One simple innovation can turn your life</h3>
                                    <p>Etiam nec lectus massa. Sed maximus gravida turpis, sit amet ornare enim maximus sit amet. Sed tellus erat, consequat eget arcu non, vestibulum elementum justo. Praesent pulvinar posuere lacus, non sodales velit. Integer vitae diam diam. Nulla magna nibh, mattis rhoncus nulla vel, </p>
                                    <div class="tags-box">
                                        <ul>
                                            <li><span class="tags-title">Releted Tags  :</span></li>
                                            <li><a href="#">Corporate</a></li>
                                            <li><a href="#">Software</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="comments-area mt-100" data-aos="fade-up" data-aos-delay="30">
                                <h3 class="comments-title">Comments 3</h3>
                                <ul class="comments-list">
                                    <li class="comment">
                                        <div class="comment-avatar">
                                            <img src="assets/images/blog/comment-1.jpg" alt="comment author">
                                        </div>
                                        <div class="comment-wrap">
                                            <div class="comment-author-content">
                                                <div class="author-title-reply">
                                                    <div class="author-title">
                                                        <span class="author-name">Randal L. Tomas<span class="date">1 January, 2022</span></span>
                                                    </div>
                                                    <div class="author-reply">
                                                        <a href="#" class="reply">Reply</a>
                                                    </div>
                                                </div>
                                                <p>Integer tellus turpis, vulputate ac condimentum vel, fermentum a dui. Fusce efficitur aliquet mi, tincidunt condimentum orci maximus quis. Phasellus quis urna in quam sollicitudin ultricies. </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="comment">
                                        <div class="comment-avatar">
                                            <img src="assets/images/blog/comment-2.jpg" alt="comment author">
                                        </div>
                                        <div class="comment-wrap">
                                            <div class="comment-author-content">
                                                <div class="author-title-reply">
                                                    <div class="author-title">
                                                        <span class="author-name">Michelle yeoh<span class="date">1 January, 2022</span></span>
                                                    </div>
                                                    <div class="author-reply">
                                                        <a href="#" class="reply">Reply</a>
                                                    </div>
                                                </div>
                                                <p>Integer tellus turpis, vulputate ac condimentum vel, fermentum a dui. Fusce efficitur aliquet mi, tincidunt condimentum orci maximus quis. Phasellus quis urna in quam sollicitudin ultricies. </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="comment">
                                        <div class="comment-avatar">
                                            <img src="assets/images/blog/comment-3.jpg" alt="comment author">
                                        </div>
                                        <div class="comment-wrap">
                                            <div class="comment-author-content">
                                                <div class="author-title-reply">
                                                    <div class="author-title">
                                                        <span class="author-name">Michael Jackson<span class="date">1 January, 2022</span></span>
                                                    </div>
                                                    <div class="author-reply">
                                                        <a href="#" class="reply">Reply</a>
                                                    </div>
                                                </div>
                                                <p>Integer tellus turpis, vulputate ac condimentum vel, fermentum a dui. Fusce efficitur aliquet mi, tincidunt condimentum orci maximus quis. Phasellus quis urna in quam sollicitudin ultricies. </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="comments-respond mt-100" data-aos="fade-up" data-aos-delay="40">
                                <h3 class="comments-heading">Leave Comment</h3>
                                <form class="comment-form">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form_group">
                                                <input type="text" class="form_control" placeholder="Your Full Name" name="name" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form_group">
                                                <input type="email" class="form_control" placeholder="Email Address" name="email" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form_group">
                                                <textarea name="message" class="form_control" placeholder="Message"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form_group">
                                                <button class="main-btn btn-gradient-yellow">Submit Now</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="sidebar-widget-area mb-20">
                            <div class="widget search-widget mb-30" data-aos="fade-up" data-aos-delay="20">
                                <h4 class="widget-title">Search</h4>
                                <div class="search-form">
                                    <form>
                                        <div class="form_group">
                                            <input type="email" class="form_control" placeholder="Search...." name="name" required>
                                            <button class="search-btn"><i class="fas fa-search"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="widget category-widget mb-30" data-aos="fade-up" data-aos-delay="25">
                                <h4 class="widget-title">Category</h4>
                                <ul class="category-nav">
                                    <li><a href="#">Email Marketing</a></li>
                                    <li><a href="#">Business Analysis</a></li>
                                    <li><a href="#">Product Design</a></li>
                                    <li><a href="#">Product Design</a></li>
                                    <li><a href="#">Invoice thiking</a></li>
                                </ul>
                            </div>
                            <div class="widget recent-post-widget mb-30" data-aos="fade-up" data-aos-delay="30">
                                <h4 class="widget-title">Recent Post</h4>
                                <ul class="recent-post-list">
                                    <li class="post-thumbnail-content">
                                        <img src="assets/images/blog/post-thumb-1.jpg" alt="Thumb Image">
                                        <div class="post-title-date">
                                            <span class="posted-on"><i class="far fa-calendar-alt"></i><a href="#">20 dec, 2022</a></span>
                                            <h6><a href="blog-details.html">Ballantyne, dairy
                                                innovation</a></h6>
                                        </div>
                                    </li>
                                    <li class="post-thumbnail-content">
                                        <img src="assets/images/blog/post-thumb-2.jpg" alt="Thumb Image">
                                        <div class="post-title-date">
                                            <span class="posted-on"><i class="far fa-calendar-alt"></i><a href="#">20 dec, 2022</a></span>
                                            <h6><a href="blog-details.html">Innovation comes
                                                from acceptance</a></h6>
                                        </div>
                                    </li>
                                    <li class="post-thumbnail-content">
                                        <img src="assets/images/blog/post-thumb-3.jpg" alt="Thumb Image">
                                        <div class="post-title-date">
                                            <span class="posted-on"><i class="far fa-calendar-alt"></i><a href="#">20 dec, 2022</a></span>
                                            <h6><a href="blog-details.html">Don’t hesitate to ask
                                                and innovate</a></h6>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget tag-cloud-widget mb-30" data-aos="fade-up" data-aos-delay="35">
                                <h4 class="widget-title">Tags</h4>
                                <a href="#">Corporate</a>
                                <a href="#">Software</a>
                                <a href="#">Landing</a>
                                <a href="#">Saas</a>
                                <a href="#">Corporate</a>
                                <a href="#">Design</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--====== End Blog Details Section ======-->
        <!--====== Start Footer ======-->
        <footer class="footer-area blue-dark-gradient footer-white">
            <div class="container">
                <div class="footer-widget pt-100 pb-55">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="widget about-widget mb-40" data-aos="fade-up" data-aos-delay="30">
                                <div class="site-branding">
                                    <a href="index.html"><img src="assets/images/logo/logo-2.png" alt="Site Logo"></a>
                                </div>
                                <p>Build a modern and creative website with crealand</p>
                                <ul class="social-link">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="widget footer-nav-widget mb-40" data-aos="fade-up" data-aos-delay="40">
                                <h4 class="widget-title">Product</h4>
                                <ul class="footer-nav">
                                    <li><a href="#">Landing page</a></li>
                                    <li><a href="#">Features</a></li>
                                    <li><a href="#">Documentation</a></li>
                                    <li><a href="#">Referral Program</a></li>
                                    <li><a href="#">Pricing</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="widget contact-info-widget mb-40" data-aos="fade-up" data-aos-delay="50">
                                <h4 class="widget-title">Informaion</h4>
                                <ul class="info-list">
                                    <li><span><i class="far fa-phone"></i><a href="tel:+123-589-847">+123 - 589 - 847</a></span></li>
                                    <li><span><i class="far fa-envelope-open-text"></i><a href="mailto:Resly@gmail.com">Resly@gmail.com</a></span></li>
                                    <li><span><i class="far fa-map-marker-alt"></i>1791 Yorkshire Circle Kitty
                                        Hawk, NC 279499</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="widget newsletter-widget mb-40" data-aos="fade-up" data-aos-delay="60">
                                <h4 class="widget-title">Newsletter</h4>
                                <div class="newsletter-content">
                                    <p>Integer semper ultricies tristique. Vestibulum porta </p>
                                    <form>
                                        <div class="form_group">
                                            <input type="email" class="form_control" placeholder="Email address" name="email" required>
                                            <button class="newsletter-btn"><i class="fas fa-paper-plane"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text text-center">
                                <p>&copy; Copyright 2022 Saap All Rights Reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer><!--====== End Footer ======-->
        <!--====== back-to-top ======-->
        <a href="#" class="back-to-top" ><i class="far fa-angle-up"></i></a>
        <!--====== Jquery js ======-->
        <script src="assets/vendor/jquery-3.6.0.min.js"></script>
        <!--====== Bootstrap js ======-->
        <script src="assets/vendor/popper/popper.min.js"></script>
        <!--====== Bootstrap js ======-->
        <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--====== Slick js ======-->
        <script src="assets/vendor/slick/slick.min.js"></script>
        <!--====== Magnific js ======-->
        <script src="assets/vendor/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <!--====== Counterup js ======-->
        <script src="assets/vendor/jquery.counterup.min.js"></script>
        <!--====== Waypoints js ======-->
        <script src="assets/vendor/jquery.waypoints.js"></script>
        <!--====== Parallax js ======-->
        <script src="assets/vendor/parallax.min.js"></script>
        <!--====== AOS js ======-->
        <script src="assets/vendor/aos/aos.js"></script>
        <!--====== Main js ======-->
        <script src="assets/js/theme.js"></script>
    </body>
</html>